<div class="d-flex flex-column h-100">
  <header class="header">
    <nav class="navbar navbar-expand-lg fixed-top bannerBg">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="https://ssivixlab.com/wp-content/uploads/2020/06/singapore-consult-doctor-online.png"
            alt=""
            width="110"
        /></a>
      </div>
    </nav>
  </header>

  <section class="py-4 mt-5">
    <div class="container">
      <div class="row align-items-center">
        <div
          class="col-lg-5 col-md-6 pt-2 align-self-start mt-5"
          style="z-index: 2"
        >
          <mat-card class="mt-5">
            <ta-message-notification></ta-message-notification>
            <router-outlet></router-outlet>
          </mat-card>
        </div>
        <div class="col-lg-6 col-md-6 ml-auto d-none d-sm-block">
          <div class="mx-auto">
            <carousel [noWrap]="false" [isAnimated]="true">
              <slide *ngFor="let slide of images; let index = index">
                <img
                  src="{{ './assets/images/' + slide.img }}"
                  alt="{{ slide.text }}"
                  style="display: block; width: 100%"
                />

                <div class="carousel-caption p-0">
                  <h2 class="mb-2">{{ slide.text }}</h2>
                  <p>{{ slide.subtext }}</p>
                </div>
              </slide>
            </carousel>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <div class="bg-blue py-2 mt-auto">
    <div class="px-3">
      <small>Copyright &copy; 2020. All rights reserved.</small>
    </div>
  </div> -->
  <app-footer></app-footer>
</div>
