<mat-toolbar class="header">
  <div class="header__title">
    <button class="header__title-button" mat-mini-fab (click)="openMenu()">
      <mat-icon *ngIf="!isMenuOpened" class="header__button-icon"
        >menu_open</mat-icon
      >
      <mat-icon *ngIf="isMenuOpened" class="header__button-icon">menu</mat-icon>
    </button>
    <div class="brand">
      <h6 class="header__title-text ml-1 d-none d-sm-block">
        MyClinq Provider
      </h6>
    </div>
  </div>

  <div class="page-title">
    <h4 class="header__title-text font-weight-light">{{ pageInfo?.title }}</h4>
  </div>

  <div class="header-toolbar">
    <button class="header__title-button" mat-mini-fab>
      <mat-icon class="mr-2 header__button-icon" (click)="signOut()"
        >exit_to_app</mat-icon
      >
    </button>
  </div>
</mat-toolbar>
