<div class="text-center">
  <img
    src="./assets/images/smarthelp_top.jpg"
    class="img-fluid"
    style="max-width: 100px; margin-top: -20px"
  />
</div>
<mat-card-header>
  <mat-card-title>Let's onboard your clinic on MyCLNQ-Provider</mat-card-title>
  <mat-card-subtitle>
    <small class="text-muted">Please Enter your Phone number to continue</small>
  </mat-card-subtitle>
</mat-card-header>
<div class="form-group" [formGroup]="fg">
  <ngx-intl-tel-input
    [onlyCountries]="['sg', 'in', 'my', 'th', 'id', 'za']"
    [enablePlaceholder]="true"
    [enableAutoCountrySelect]="true"
    [separateDialCode]="true"
    maxLength="10"
    name="mobileNumber"
    formControlName="mobileNumber"
  >
  </ngx-intl-tel-input>
  <div>
    <mat-error
      *ngIf="
        fg.controls['mobileNumber'].touched &&
        fg.invalid &&
        fg.value.mobileNumber != null
      "
      >Invalid mobile number</mat-error
    >
  </div>
</div>
