<nav class="sidebar-menu pb-3">
  <mat-nav-list>
    <ng-container *ngFor="let item of sideNav">
      <ng-container *ngIf="!item.children">
        <mat-list-item [routerLinkActive]="['active']">
          <a [routerLink]="[item.routePath]" class="w-100">
            <mat-icon class="mr-2 vertical-align">{{ item.iconName }}</mat-icon>
            <span class="vertical-align">{{ item.displayName }}</span>
          </a>
        </mat-list-item>
      </ng-container>

      <ng-container *ngIf="item.children">
        <div class="navDivider">{{ item.displayName }}</div>
        <mat-list-item
          *ngFor="let menuitem of item.children"
          [routerLinkActive]="['active']"
        >
          <a [routerLink]="[menuitem.routePath]" class="w-100">
            <mat-icon class="mr-2 vertical-align">{{
              menuitem.iconName
            }}</mat-icon>
            <span class="vertical-align">{{ menuitem.displayName }}</span>
          </a>
        </mat-list-item>
      </ng-container>
    </ng-container>
  </mat-nav-list>
</nav>
