@import "../styles/variables";
@import "../styles/colors";

.layout {
  width: 100%;
}

.layout-sidebar {
  height: calc(100vh - 64px);
  margin-top: 64px;

  @media (max-width: $small) {
    width: 218px;
  }
}

.layout-content {
  // background-color: $background-color;
  height: calc(100vh - 64px);
  margin-top: 64px;

  @media (max-width: $small) {
    width: 100%;
  }
}
mat-sidenav-container {
  background-color: transparent;
}
.customHeight {
  height: auto;
  min-height: 100%;
}
