<mat-card-content class="p-3">
  <div class="row">
    <div class="col-sm-4 col-md-4" *ngFor="let doctor of listOfDoctors">
      <mat-card class="mb-4 overflow-hidden">
        <mat-card-header>
          <div mat-card-avatar class="img-wrap-parent">
            <img
              class="img-fluid"
              [src]="
                doctor.profilePic && doctor.profilePic !== 'null'
                  ? doctor.profilePic
                  : './assets/images/doctor_placeholder.png'
              "
              alt=""
            />
          </div>
          <mat-card-title>{{ doctor.doctorName }}</mat-card-title>
          <mat-card-subtitle>
            {{ doctor.departmentDetails?.departmentName }}
            <div>time</div>
          </mat-card-subtitle>
          <span class="fill-remaining-space"></span>
          <div class="mr-2">
            <button mat-icon-button color="accent">
              Add
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="d-flex justify-content-between">
            <span>Slots Available (10)</span> <span>Apointment (-)</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-card-content>
