/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url("assets/images/bg_main.png") no-repeat;
  background-size: 100% 100%;
}
app-root {
  height: 100%;
  display: block;
}

.mat-form-field {
  width: 100%;
}
.form-group {
  margin-bottom: 0px;
}
.mat-radio-button {
  margin-right: 16px;
}
.cursorptr {
  cursor: pointer;
}
.mat-card-content {
  display: block;
}
.mat-datepicker-dialog mat-dialog-container {
  padding: 0px;
}
mat-sidenav-content ng-component {
  min-height: calc(100vh - 105px);
  height: 100%;
}
.customHeigthIFrame iframe {
  min-height: calc(100vh - 115px);
}

@import "app/shared/styles/custom-theme";
